.services{
    background-image: url(/imgs/backgroundServices.png);
}
.services__title{
    text-align: center;
    padding-top: 80px;
}
.services__title-blanco{
    display: inline;
    font-size: 42px;
}
.services__title-celeste{
    display: inline;
    color: #00ADB5;
    font-size: 42px;
}
@media (min-width: 768px) {
    .services__title-celeste, .services__title-blanco{
        padding: 0 3px;
       font-size: 64px;
    }
}
.services__cards{
    padding-top: 80px;
    margin: 0 auto;
    width: 90%;
}
@media (min-width: 768px) {
    .services__cards{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }
}
.services__cards-item{
    background-color: rgba(83, 83, 83, 0.308) ;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 30px;
}
@media (min-width: 768px) {
    .services__cards-item{
        background-color: rgba(83, 83, 83, 0.308) ;
        border-radius: 20px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }
}
.cards-item-img{
    margin: 0 auto;
    padding-bottom: 1%;
}
@media (min-width: 768px) {
    .cards-item-img{
        max-height: 250px; 
    }
}
.item-img-service{
    width: 100%;
}
.sercives__cards-title{
    text-align: center;
    padding: 10px 0 20px 0;
}
@media (min-width: 768px) {
    .sercives__cards-title{
        width: 100%;
        font-size: 2vw;
    }
}
.ver-mas{
    overflow: hidden;
    margin: 0 auto;
    padding: 80px 0 40px 0;
    display: none;
}
@media (min-width: 768px) {
    .ver-mas{
        width: 130px;
        padding: 30px 0 60px 0 
    }
}
.ver-mas__link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ver-mas__container{
    padding-right: 5px;
    height: 24px;
}

.ver-mas__text{
  color: white;
  font-size: 18px;
}
@media (min-width: 768px) {
    .ver-mas__text{
        font-size: 24px;
      }
}