*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #13171C;
}

@media (min-width: 768px) {
    .linea-divisora{
        display: inherit;
        border-top: solid 0.1px #EEEEEE1A;
        background-color: #13171C ;
    }
}

