*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #13171C;
}

@media (min-width: 768px) {
    .linea-divisora{
        display: inherit;
        border-top: solid 0.1px #EEEEEE1A;
        background-color: #13171C ;
    }
}

.presentacion{
    background-color:#192130;
    padding: 70px 7.5%;
}
@media (min-width: 768px) {
    .presentacion{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .presentacion__text{
        width: 50%;
        padding-right: 5%;
    }
}
.presentacion__text-name{
    font-size: 42px;
    padding-bottom: 30px;
}
@media (min-width: 768px) {
    .presentacion__text-name{
        font-size: 64px
    }
}
.presentacion__text-description{
    padding-bottom: 65px;
    font-size: 18px;
}
.presentacion__div-img{
    width: 100%;
}
@media (min-width: 768px) {
    .presentacion__div-img{
        padding-left: 10%;
    }
}

